<header>
    <div class="logo-container">
        <div class="menu-icon" onclick="toggleSidebar(event)">☰</div>
        <img class="logo" src="/images/download.png" alt="KFC Logo">
        <div class="sidebar-nav">
            <button class="imgbutt">
                <img height="20px" src="/images/Delivery.793adbaa710baf75ba78.png" alt="Delivery"> DELIVERY
            </button>
            <button class="collect">
                <img height="20px" src="/images/pickup.47bb874f83ea6acb5a47.png" alt="Pickup"> PICKUP
            </button>
        </div>
    </div>
    <button class="loginBtn" id="logInBtnHead">Login</button>
</header> 