<div class="sidebar" id="sidebar" onclick="event.stopPropagation()">
    <button class="login-btn">LOGIN</button>
    <div>
        <div class="toggle-container">
            <span class="toggle-btn day">Day</span>
            <span class="toggle-btn night">Night</span>
        </div>

        <div class="sidebar-navigation">
            <div class="menu-item">
                <a href="/store-locations">
                    <img src="/images/Store-Locator.f6a5770e5b27f36c215d.jpg" alt="Store"> Store Locator
                </a>
            </div>
            <div class="menu-item">
                <a href="/track-order">
                    <img src="/images/Tracking-order.4b97000517b60dac1935.jpg" alt="Order"> Track Order
                </a>
            </div>
            <div class="menu-item explore-menu">
                <a href="/menu">
                    <img src="/images/Explore-menu.5a4a8ea8405b961694cb.jpg" alt="Menu"> Explore Menu
                </a>
            </div>

            <hr>

            <div class="menu-item"><a href="/about-us">About Us</a></div>
            <div class="menu-item"><a href="/feedBack">Feedback</a></div>
            <div class="menu-item"><a href="/terms-condition">Terms & Conditions</a></div>
            <div class="menu-item"><a href="/privacy-policy">Privacy Policy</a></div>
            <div class="menu-item"><a href="/contact-Us">Contact Us</a></div>
            <div class="menu-item"><a href="/mitao-Bhook">Mitao Bhook</a></div>
            <div class="menu-item"><a href="/mitao-bhook-scholarship">Mitao Bhook Scholarship</a></div>
            <div class="menu-item"><a href="/careers-page">Careers</a></div>
        </div>
    </div>
</div> 