<%- include('partials/header') %>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/892f12f0-fb81-11ed-9cfc-13924e99eefd-DUO-Box-1920x420_desktop_image-2023-05-26045528.jpg" class="d-block w-100" alt="Duo Box">
        </div>
        <div class="carousel-item">
            <img src="/images/88d05120-fb81-11ed-919a-ef9f5e8ff903-Equity-Banner-1920x420_desktop_image-2023-05-26045528.jpg" class="d-block w-100" alt="Equity Banner">
        </div>
    </div>
    <span id="LeftBtn">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
    </span>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>

<%- include('partials/sidebar') %>
<%- include('partials/login-modal') %>

<main id="mainCon">
    <button class="reorder">REORDER</button>

    <p class="menuHead">
        <span class="under">EXPLO</span>RE MENU
    </p>

    <div class="slide-container swiper">
        <div class="slide-content">
            <div class="card-wrapper swiper-wrapper">
                <div class="cardsRoud swiper-slide">
                    <div class="imgecontont">
                        <img class="img" src="/images/afc4e8b0-ff99-11ed-8640-872ee63b5da0-Krunch-2023-05-31095826.png" alt="Ramadan Offers">
                    </div>
                    <h6 class="value">Ramadan Offers</h6>
                    <hr class="hafhr">
                    <div class="right">
                        <i class="fa-solid fa-circle fa-sm" style="color: #f1f3f6;"></i>
                    </div>
                </div>

                <div class="cardsRoud swiper-slide">
                    <div class="imgecontont">
                        <img class="img" src="/images/52ba54f0-f850-11ef-9607-233a3fccf207-GroupThumbnail590x480-iftarkibaithak-2025-03-03165534.png" alt="Everyday Value">
                    </div>
                    <h6 class="value">Everyday Value</h6>
                    <hr class="hafhr">
                    <div class="right">
                        <i class="fa-solid fa-circle fa-sm" style="color: #f1f3f6;"></i>
                    </div>
                </div>

                <div class="cardsRoud swiper-slide">
                    <div class="imgecontont">
                        <img class="img" src="/images/afc4e8b0-ff99-11ed-8640-872ee63b5da0-alacart-2023-05-31095826.png" alt="Ala-Carte & Combos">
                    </div>
                    <h6 class="value">Ala-Carte & Combos</h6>
                    <hr class="hafhr">
                    <div class="right">
                        <i class="fa-solid fa-circle fa-sm" style="color: #f1f3f6;"></i>
                    </div>
                </div>

                <div class="cardsRoud swiper-slide">
                    <div class="imgecontont">
                        <img class="img" src="/images/afc536d0-ff99-11ed-a006-17c81341cbe8-Signaturebox-2023-05-31095826.png" alt="Signature Boxes">
                    </div>
                    <h6 class="value">Signature Boxes</h6>
                    <hr class="hafhr">
                    <div class="right">
                        <i class="fa-solid fa-circle fa-sm" style="color: #f1f3f6;"></i>
                    </div>
                </div>

                <div class="cardsRoud swiper-slide">
                    <div class="imgecontont">
                        <img class="img" src="/images/afc4e8b0-ff99-11ed-8640-872ee63b5da0-Sharing-2023-05-31095826.png" alt="Sharing">
                    </div>
                    <h6 class="value">Sharing</h6>
                    <hr class="hafhr">
                    <div class="right">
                        <i class="fa-solid fa-circle fa-sm" style="color: #f1f3f6;"></i>
                    </div>
                </div>

                <div class="cardsRoud swiper-slide">
                    <div class="imgecontont">
                        <img class="img" src="/images/afc4e8b0-ff99-11ed-8640-872ee63b5da0-Snacks-2023-05-31095826.png" alt="Snacks & Beverages">
                    </div>
                    <h6 class="value">Snacks & Beverages</h6>
                    <hr class="hafhr">
                    <div class="right">
                        <i class="fa-solid fa-circle fa-sm" style="color: #f1f3f6;"></i>
                    </div>
                </div>

                <div class="cardsRoud swiper-slide">
                    <div class="imgecontont">
                        <img class="img" src="/images/afc49a90-ff99-11ed-aad1-a133693e27ae-Midnight-2023-05-31095826.png" alt="Midnight">
                    </div>
                    <h6 class="value">Midnight (Starts at 12 am)</h6>
                    <hr class="hafhr">
                    <div class="right">
                        <i class="fa-solid fa-circle fa-sm" style="color: #f1f3f6;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
    </div>

    <h3 class="bestSellerTitle"><span class="under">BEST SELLERS</span></h3>
    <div class="swiper bestSellerSwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide best-card">
                <div class="best-card-ribbon"></div>
                <div class="best-card-title">Krunch Burger</div>
                <div class="best-card-price"><span>Rs</span>310</div>
                <img src="/public/images/krunch-burger.png" alt="Krunch Burger" class="best-card-img">
            </div>
            <div class="swiper-slide best-card">
                <div class="best-card-ribbon"></div>
                <div class="best-card-title">Krunch Combo</div>
                <div class="best-card-price"><span>Rs</span>590</div>
                <img src="/public/images/krunch-combo.png" alt="Krunch Combo" class="best-card-img">
            </div>
            <div class="swiper-slide best-card">
                <div class="best-card-ribbon"></div>
                <div class="best-card-title">Chicken & Chips</div>
                <div class="best-card-price"><span>Rs</span>620</div>
                <img src="/public/images/chicken-chips.png" alt="Chicken & Chips" class="best-card-img">
            </div>
            <div class="swiper-slide best-card">
                <div class="best-card-ribbon"></div>
                <div class="best-card-title">Hot Wings Bucket</div>
                <div class="best-card-price"><span>Rs</span>670</div>
                <img src="/public/images/hot-wings-bucket.png" alt="Hot Wings Bucket" class="best-card-img">
            </div>
            <!-- Add more cards as needed -->
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="deals-container">
        <h3 class="menuHead"><span class="under">TOP</span> DEALS</h3>
        <div class="deals-wrapper">
            <div class="dealsCard">
                <div class="mainRebbenSec">
                    <div class="redRibbens">
                        <div class="redRibben"></div>
                        <div class="redRibben left"></div>
                        <div class="redRibben left"></div>
                    </div>
                    <i class="fa-regular fa-heart fa-xl heart-icon"></i>
                </div>
                <img src="/images/63fb28b0-9627-11ef-b5b6-331c16c28159-CrispyDuoBox-2024-10-29185539.png" class="cardimg" alt="Crispy Duo Box">
                <h5 class="name">Crispy Duo Box</h5>
                <p class="description">Turn up the fun with 5 pcs Hot & Crispy Chicken + 1 Large fries + 2 Regular drinks</p>
                <p class="priceDeal">Rs 1350</p>
                <button class="bttnCard">+ ADD TO BUCKET</button>
            </div>

            <div class="dealsCard">
                <div class="mainRebbenSec">
                    <div class="redRibbens">
                        <div class="redRibben"></div>
                        <div class="redRibben left"></div>
                        <div class="redRibben left"></div>
                    </div>
                    <i class="fa-regular fa-heart fa-xl heart-icon"></i>
                </div>
                <img src="/images/63fb28b0-9627-11ef-be4f-a734b6b6ba4f-XtremeDuoBox-2024-10-29185539.png" class="cardimg" alt="Xtreme Duo Box">
                <h5 class="name">Xtreme Duo Box</h5>
                <p class="description">2 Signature Zingers + 2 pcs Hot & Crispy Chicken + 1 Large fries + 2 Regular drinks</p>
                <p class="priceDeal">Rs 1560</p>
                <button class="bttnCard">+ ADD TO BUCKET</button>
            </div>

            <div class="dealsCard">
                <div class="mainRebbenSec">
                    <div class="redRibbens">
                        <div class="redRibben"></div>
                        <div class="redRibben left"></div>
                        <div class="redRibben left"></div>
                    </div>
                    <i class="fa-regular fa-heart fa-xl heart-icon"></i>
                </div>
                <img src="/images/52ba54f0-f850-11ef-9607-233a3fccf207-GroupThumbnail590x480-iftarkibaithak-2025-03-03165534.png" class="cardimg" alt="Iftar Ki Baithak">
                <h5 class="name">Iftar Ki Baithak</h5>
                <p class="description">3 Zingers, 8 Wings, 1 Fries Bucket, and 3 Drinks</p>
                <p class="priceDeal">Rs 1790</p>
                <button class="bttnCard">+ ADD TO BUCKET</button>
            </div>

            <div class="dealsCard">
                <div class="mainRebbenSec">
                    <div class="redRibbens">
                        <div class="redRibben"></div>
                        <div class="redRibben left"></div>
                        <div class="redRibben left"></div>
                    </div>
                    <i class="fa-regular fa-heart fa-xl heart-icon"></i>
                </div>
                <img src="/images/634e6df0-9627-11ef-b12f-312c6a2b6968-family-Festivle-3-2024-10-29185538.png" class="cardimg" alt="Family Festival 3">
                <h5 class="name">Family Festival 3</h5>
                <p class="description">4 Zinger burgers + 4 pcs Hot and Crispy Chicken + 1.5 Liter drink</p>
                <p class="priceDeal">Rs 2590</p>
                <button class="bttnCard">+ ADD TO BUCKET</button>
            </div>
        </div>
    </div>

    <div class="firstCardTitle">
        <div class="banner-row">
            <div class="banner-item">
                <img src="/images/pickup-banner.01fde5a7db5ef06f7bce.png" class="img-fluid" alt="Pickup Banner">
            </div>
            <div class="banner-item">
                <img src="/images/favorites-banner.afff26bc6d0127f68baa.png" class="img-fluid" alt="Favorites Banner">
            </div>
        </div>
        <div class="banner-row">
            <div class="banner-item">
                <img src="/images/scamOrdr.6f809bf83912dd8dbe31.jpg" class="img-fluid" alt="Scam Order">
            </div>
            <div class="banner-item">
                <div class="card FourtCard">
                    <div class="card-body">
                        <img src="/images/kfc-meal.afc417f5d19998efd26b.png" class="img-fluid card-img" alt="KFC Meal">
                        <p class="explore">Adding 11 herbs and spices, Explore our menu and add items to your cart.</p>
                        <button class="fourthImagCardButt">EXPLORE MENU</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
.bestSellerTitle {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 900;
  margin: 40px 0 20px 20px;
  letter-spacing: 1px;
}
.bestSellerTitle .under {
  border-bottom: 4px solid #e4002b;
  padding-bottom: 4px;
}

.bestSellerSwiper {
  width: 100%;
  padding: 10px 0 30px 0;
}

.swiper-slide.best-card {
  background: #181414;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  padding: 12px 8px 8px 8px;
  position: relative;
  min-width: 150px;
  max-width: 170px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 6px;
}

.best-card-ribbon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 36px;
  background: none;
  display: flex;
  justify-content: center;
  gap: 2px;
}
.best-card-ribbon::before,
.best-card-ribbon::after,
.best-card-ribbon {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #e4002b;
  border-radius: 2px 2px 0 0;
  margin: 0 1px;
}
.best-card-title {
  color: #fff;
  font-size: 0.95rem;
  font-weight: 700;
  margin-top: 14px;
  margin-bottom: 6px;
  text-align: left;
  width: 100%;
  font-family: 'Arial Black', Arial, sans-serif;
}
.best-card-price {
  position: absolute;
  top: 10px;
  right: 0;
  background: #e4002b;
  color: #fff;
  font-weight: 900;
  font-size: 0.95rem;
  padding: 3px 10px 3px 6px;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.best-card-price span {
  font-size: 0.85rem;
  margin-right: 2px;
  font-weight: 700;
}
.best-card-img {
  width: 90%;
  max-width: 80px;
  margin: 10px auto 0 auto;
  object-fit: contain;
  flex: 1;
  display: block;
}

.swiper-button-next, .swiper-button-prev {
  color: #e4002b;
  top: 50%;
  width: 32px;
  height: 32px;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 18px;
}

@media (max-width: 900px) {
  .swiper-slide.best-card {
    min-width: 120px;
    max-width: 130px;
    height: 160px;
    padding: 8px 4px 4px 4px;
  }
  .best-card-img {
    max-width: 50px;
  }
}
@media (max-width: 600px) {
  .bestSellerTitle {
    font-size: 1rem;
    margin-left: 6px;
  }
  .swiper-slide.best-card {
    min-width: 90px;
    max-width: 100px;
    height: 110px;
    padding: 4px 2px 2px 2px;
  }
  .best-card-title {
    font-size: 0.7rem;
    margin-top: 8px;
  }
  .best-card-img {
    max-width: 30px;
  }
  .best-card-price {
    font-size: 0.7rem;
    padding: 2px 4px 2px 3px;
  }
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function () {
  new Swiper('.bestSellerSwiper', {
    slidesPerView: 6,
    spaceBetween: 12,
    loop: false,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    breakpoints: {
      1200: { slidesPerView: 6 },
      900: { slidesPerView: 4 },
      600: { slidesPerView: 2 },
      0: { slidesPerView: 1 }
    }
  });
});
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/css/bestseller.css">
<script src="/js/bestseller.js"></script>

 